@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme inline {
    --color-accent: var(--theme-accent);
    --color-accent-dark: color-mix(in oklab, var(--color-accent), black 30%);
    --color-background: var(--theme-background);
    --color-surface: var(--theme-surface);
    --color-border: var(--theme-border);
    --color-foreground: var(--theme-foreground);
}

@layer base {
    :root {
        color-scheme: dark;
        background: transparent;
    }

    body,
    #root {
        margin: 0;
        width: 100vw;
        height: 100vh;
        background: transparent;
        user-select: none;
        -webkit-user-select: none;
    }
}

@layer components {
    [data-separator] {
        width: 4px;
        background: transparent;
        cursor: col-resize;
    }
}

.xterm .xterm-viewport {
    background-color: transparent !important;
    scrollbar-width: none;
}

.xterm .xterm-viewport::-webkit-scrollbar {
    display: none;
}

.xterm .xterm-scrollbar.xterm-vertical .xterm-slider {
    background-color: color-mix(in oklab, var(--theme-foreground) 30%, transparent);
    border-radius: 9999px;
}

.xterm .xterm-decoration-overview-ruler {
    display: none !important;
}
