@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme inline {
    --color-background: var(--theme-background);
    --color-foreground: var(--theme-foreground);
}

@layer base {
    :root {
        color-scheme: dark;
        background: transparent;
    }

    body,
    #root {
        margin: 0;
        width: 100vw;
        height: 100vh;
        background: transparent;
        user-select: none;
        -webkit-user-select: none;
    }
}

@layer components {
    [data-separator] {
        width: 4px;
        background: transparent;
        cursor: col-resize;
    }
}

.xterm .xterm-viewport {
    background-color: transparent !important;
}
